<app-loading [condition]="isLoading"></app-loading>

<app-toast [message]="toast.message"></app-toast>

<div class="card" *ngIf="!isLoading">
  <h4 class="card-header text-center">Reset Password</h4>
  <div class="row justify-content-md-center">
    <div class="card-body col-md-6">
      <form [formGroup]="resetPassForm" (ngSubmit)="resetpass()">
        <div class="row">
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text">
                <i class="fa fa-key"></i>
              </span>
            </div>
            <input class="form-control" type="password" formControlName="password" placeholder="Password">

            <div *ngIf="password.invalid && (password.dirty || password.touched)" class="error-message">
              <div *ngIf="password.errors.required">
                Password is required.
              </div>
              <div *ngIf="password.errors.minLength">
                Please enter at least 6 characters long.
              </div>
            </div>

          </div>
        </div>
        <div class="row">
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text">
                <i class="fa fa-key"></i>
              </span>
            </div>
            <input class="form-control" type="password" formControlName="confirm_password" placeholder="Confirm password" (ngModelChange)="confirmPassword($event)">
            <div class="error-message" *ngIf="confirmPass">Password not match</div>
          </div>
        </div>
        <button class="btn btn-primary" type="submit" [disabled]="!resetPassForm.valid">
          <i class="fa fa-save"></i> Update
        </button>
      </form>
    </div>
  </div>
</div>
